* {
    margin: 0;
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "top top top"
        "bottom bottom bottom";

}

.top {
    grid-area: top;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
    grid-template-areas:
        "score dealer deck";
}


.bottom {
    grid-area: bottom;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
    grid-template-areas:
        "choice player nothing";
}

.card {
    height: 12rem;
    width: 6rem;
    background-color: white;
    border: black solid 2px;
    border-radius: 1rem;
}

.score {
    grid-area: score;
    height: 100%;
    width: 100%;
}

.deck {
    grid-area: deck;
    height: 100%;
    width: 100%;
    position: relative;
}

.deckitem {
    height: 12rem;
    width: 6rem;
    background-color: white;
    border: black solid 2px;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

.deckitem2 {
    height: 12rem;
    width: 6rem;
    background-color: white;
    border: black solid 2px;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(3deg);
    rotate: -1deg;
}

.dealer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: dealer;
    height: 100%;
    width: 100%;
}

.choice {
    grid-area: choice;
    height: 100%;
    width: 100%;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: player;
    height: 100%;
    width: 100%;
}

.nothing {
    grid-area: nothing;
    height: 100%;
    width: 100%;
}
